* {
    margin: 0;
    padding: 0;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                     supported by Chrome and Opera */
}

html, body, .container {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: table;
    touch-action: none;
}

#continueButton{
    visibility: hidden;
}

.launchPage {
    margin: 8px 0;
    box-sizing: border-box;
}

.wrapper canvas {
    position: absolute;
}

#content {
    display: table-cell;
    text-align: center;
    vertical-align: middle
}

.levelSelect {
    position: relative;
    float: right;
    margin-right: 3%;
    font-family: 'comicNeue';
    font-size: 1.875em;
}

#undoButton {
    position: relative;
    float: left;
    width: 4%;
    height: 4%;
    outline: none;
    visibility: hidden;
}

#redoButton {
    position: relative;
    float: left;
    width: 4%;
    height: 4%;
    outline: none;
    visibility: hidden;
}

#refreshButton {
    position: relative;
    float: left;
    width: 4%;
    height: 4%;
    outline: none;
    visibility: hidden;
}

#skip {
    position: relative;
    float: left;
    width: 4%;
    height: 4%;
    padding: 10px 10px 10px 10px;
    outline: none;
    visibility: hidden;
}

table {
    max-width: 40%;
    max-height: 25%;
    position: absolute;
    left: 32.5%;
    top: 25%;

    /* Set negative margins equal to half the size */
    margin-left​: -50px;
    margin-top: -25px;
}

#nextLevelButton {
    visibility: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 4%;
    height: auto;
    visibility: hidden;
}

#tutorialForwards {
    position: absolute;
    top: 46%;
    left: 90%;
    width: 4%;
    height: auto;
    visibility: hidden;
}

#tutorialBackwards {
    position: absolute;
    top: 46%;
    left: 6%;
    width: 4%;
    height: auto;
    visibility: hidden;
}

.myButton {
    visibility: hidden;
}

@font-face {
    font-family: 'comicNeue'; /*a name to be used later*/
    src: url('fonts/Web/ComicNeue-Angular-Regular.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'comicNeueBold'; /*a name to be used later*/
    src: url('fonts/Web/ComicNeue-Angular-Bold.ttf'); /*URL to font*/
}

.btn {
    position: relative;

    display: block;
    margin: 30px auto;
    padding: 0;

    overflow: hidden;

    border-width: 0;
    outline: none;
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);

    background-color: #2ecc71;
    color: #ecf0f1;

    transition: background-color .3s;
}

.btn:hover, .btn:focus {
    background-color: #27ae60;
}

.btn > * {
    position: relative;
}

.btn span {
    display: block;
    padding: 12px 24px;
}

.btn:before {
    content: "";

    position: absolute;
    top: 50%;
    left: 50%;

    display: block;
    width: 0;
    padding-top: 0;

    border-radius: 100%;

    background-color: rgba(236, 240, 241, .3);

    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.btn:active:before {
    width: 120%;
    padding-top: 120%;

    transition: width .2s ease-out, padding-top .2s ease-out;
}

/* Styles, not important */
*, *:before, *:after {
    box-sizing: border-box;
}

h2 {
    font-weight: normal;
}

.btn.orange {
    background-color: #e67e22;
}

.btn.orange:hover, .btn.orange:focus {
    background-color: #d35400;
}

.btn.red {
    background-color: #e74c3c;
}

.btn.red:hover, .btn.red:focus {
    background-color: #c0392b;
}

/*form styling*/
* {
    box-sizing: border-box;
}


.launchPage {
    font-family: 'Roboto';
    width: 600px;
    margin: 30px auto 0;
    display: block;
    background: #FFF;
    padding: 10px 50px 50px;
}

h2 {
    text-align: center;
    margin-bottom: 50px;
}

h2 small {
    font-weight: normal;
    color: #888;
    display: block;
}

.footer {
    text-align: center;
}

.footer a {
    color: #53B2C8;
}

/* form starting stylings ------------------------------- */
.group {
    position: relative;
    margin-bottom: 45px;
}

input[type=text] {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 300px;
    border: none;
    border-bottom: 1px solid #757575;
}

input:focus {
    outline: none;
}

/* LABEL ======================================= */
label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 105px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label {
    top: -20px;
    font-size: 14px;
    color: #5264AE;
}

/* BOTTOM BARS ================================= */
.bar {
    position: relative;
    display: block;
    width: 300px;
}

.bar:before, .bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #5264AE;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.bar:before {
    left: 50%;
}

.bar:after {
    right: 50%;
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
    width: 50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}

/* active state */
input:focus ~ .highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
    from {
        background: #5264AE;
    }
    to {
        width: 0;
        background: transparent;
    }
}

@-moz-keyframes inputHighlighter {
    from {
        background: #5264AE;
    }
    to {
        width: 0;
        background: transparent;
    }
}

@keyframes inputHighlighter {
    from {
        background: #5264AE;
    }
    to {
        width: 0;
        background: transparent;
    }
}
